* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backgroundColor: rgba(26, 26, 26, 0.9);
  --b2: #252424;
  --fontColor: #dfdfdf;
  --accentColor: #ac94fa;
  --navbarColor: #16bdca;
  --mint: hsl(316, 30%, 36%);
  --lavender-blush: hsl(248, 30%, 70%);
}

body {
  line-height: 1.75;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  background: var(--backgroundColor);
  color: var(--fontColor);
  min-height: 100vh;
  width: 100%;
}

#navbar {
  background-color: var(--lavender-blush);
  color: var(--backgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2;
  box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

.line {
  opacity: 0;
}

.firstLine {
  animation-name: xTranslate;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes xTranslate {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0 1em 0 0;
}

.nav-link:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.nav-link > a {
  text-decoration: none;
  color: var(--backgroundColor);
}

.nav-links > * + * {
  margin-left: 2em;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section > h1 {
  font-family: "Roboto", serif;
  font-size: 5.5vw;
}

#welcome-section > h2 {
  color: var(--accentColor);
}

#projects {
  padding: 50px 0 0 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--mint);
  color: var(--fontColor);
}

.project-tile > a {
  color: var(--fontColor);
  text-decoration: none;
}

.project-tile:hover {
  transform: scale(1.1);
}

#contact {
  padding: 50px 0 0 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact > h2 {
  font-family: "Roboto", serif;
}

#contact-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 2vh 2vw;
}

#contact-links > * + * {
  margin-left: 1em;
}

.contact-link:hover {
  transform: scale(1.1);
}

.contact-link > a {
  text-decoration: none;
  color: var(--fontColor);
}

.contact-link > a:hover {
  color: var(--accentColor);
}

@media screen and (max-width: 768px) {
  #contact-links {
    flex-wrap: wrap;
  }
}
